
{{>layout.hbs}}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/heroes.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Sansita&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/css/app.css'>
</head>
<body>
    <h2 class="text-center mb-4 mt-5">Create your Squad!</h2>
    <div class="container mt-5 offset-sm-2 pt-3 pb-3">
        <div class="row">
            <div class="col offset-sm-2">
                <form action="/squads/new" method="POST">
                    <div class="row mb-3">
                        <label for="name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control w-50" id="name" name="name">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="maxSize" class="col-sm-2 col-form-label">Max Size</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control w-50" id="maxSize" name="maxSize">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="cause" class="col-sm-2 col-form-label">Cause</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control w-50" id="maxSize" name="cause">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Create a Squad</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
